*{
	box-sizing:border-box;
}

html, body{
	height:100%;
	margin:0;
}

body{
	display:flex;
	justify-content:center;
	align-items:center;
	padding:1em;
	background:#b8c0ff;
}

.field{
	max-width:400px;
	width:240px;
	height:48px;
	
	display:flex;
	justify-content:space-between;
	align-items:center;
	
	padding:1em;
	border-radius:48px;
	
	background:#fff;
	
	.input{
		width:100%;
		height:100%;
		
		padding:1em;
		
		outline:none;
		border:none;
		
		background:transparent;
		transition:all ease 0.25s;
		
		&:placeholder-shown{
			~.eraser{
				opacity:0;
				transform:rotate(360deg);
			}
		}
		&:read-only{
			color:#888;
		}
	}
	
	.pencil-icon{
		.pencil{
			transform-origin: 0% 100%; 
		}
	}
	
	.eraser{
		cursor:pointer;
		color:#aaa;
		transition:all ease 0.25s;
	}
	
}